.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
}

@media (max-width: 1024px), (pointer: coarse) {
  .cursor {
    display: none !important; /* Hide custom cursor on mobile/tablets/touch devices */
  }
}
